name: Auto Build & Deploy

on:
  push:
    branches:
      - main
    paths:
      - 'resources.xlsx' # 或去掉 paths 监听全部

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas qrcode openpyxl

    - name: Build Resources
      run: |
        cd scripts
        python build_resources.py

    - name: Commit & Push changes
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add data.json static/qrcode/*
        git commit -m "自动生成二维码 & 更新 data.json" || echo "No changes to commit"
        git push
